:root {
  --spacing: 0.125em;
  --open-circle: '\25EF';
}

body {
  font-size: 128px; // base font size -> 1.0em
  background: radial-gradient(at 100% 100%, #004000, #008000);
  background-color: #008000;
  height: 100vh;
}

#game-board {
  font-size: 6.6vw;

  position: relative;
  z-index: 0;

  height: 100%;

  padding: var(--spacing);

  box-sizing: border-box;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: var(--spacing);
}

.card {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.card-container::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 0, 0.25);
  border: 1px solid yellow;
  border-radius: 5px;
  font-size: 0.75em;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.deck,
.stack {
  .card-container::after {
    content: var(--open-circle);
  }
}

.pile {
  grid-row: 1;

  .card-container::after {
    content: var(--open-glyph);
  }
}
.stack {
  grid-row: 3;

  .card {
    transition-duration: 0.1s;
  }

  @for $i from 1 through 13 {
    .card:nth-child(#{$i}) {
      top: ($i - 1) * 0.25em;
    }
  }

  .card:hover:not(:last-child):not(.hidden) {
    margin-top: -0.125em;
    & + .card {
      margin-top: 0.125em;
    }
  }
}
.deal {
  grid-row: 1;
  grid-column: 6;

  .card {
    left: auto;
  }
  .card:nth-last-child(3n+1) {
    right: 0;
  }
  .card:nth-last-child(3n+2) {
    right: 0.25em;
  }
  .card:nth-last-child(3n+3) {
    right: 0.5em;
  }
  .card:nth-last-child(n+4) {
    right: 0;
  }
}
.deck {
  grid-row: 1;
  grid-column: 7;
}
