:root {
  --spacing: 10px;
}

#dealBtn {
  grid-row: 1;
  grid-column: 7;
}

#game-board {
  background-color: green;
  width: 100vw;
  height: 100vh;

  padding: var(--spacing);

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: var(--spacing);

  .pile::after,
  .stack::after,
  .deck::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
    border-radius: 5px;
  }

  .pile,
  .stack,
  .deal {
    position: relative;

    .card {
      position: absolute;
    }
  }

  .pile {
    grid-row: 1;
  }
  .stack {
    grid-row: 3;

    @for $i from 1 through 13 {
      .card:nth-child(#{$i}) {
        top: ($i - 1) * 30px;
        z-index: 1000 + $i;
      }
    }
  }
  .deal {
    grid-row: 1;
    grid-column: 6;

    .card:nth-child(1) {
      right: 30px;
      z-index: 1002;
    }
    .card:nth-child(2) {
      right: 15px;
      z-index: 1001;
    }
    .card:nth-child(3) {
      right: 0px;
      z-index: 1000;
    }

  }
}
