.Spade {
  --open-glyph: '\2664';
  --closed-glyph: '\2660';
}
.Heart {
  --open-glyph: '\2661';
  --closed-glyph: '\2665';
}
.Club {
  --open-glyph: '\2667';
  --closed-glyph: '\2663';
}
.Diamond {
  --open-glyph: '\2662';
  --closed-glyph: '\2666';
}

.card-container {
  position: relative;
	width: 100%;

  &::before {
    content: '';
    display: block;
    padding-top: 140%; // cards are 1:1.4
  }

  .card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

  &.hidden {
    background-color: black;
    border: 1px solid white;
    .rank,
    .suit {
      display: none;
    }
  }

  .rank::before,
  .rank::after,
  .suit::before,
  .suit::after {
    position: absolute;
    display: block;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    width: 32px;
  }

  .rank::before {
    top: 32px;
    left: 0;
  }
  .suit::before {
    top: 0;
    left: 0;
  }

  .rank::after,
  .suit::after {
    transform: rotate(180deg);
  }
  .rank::after {
    bottom: 32px;
    right: 0;
  }
  .suit::after {
    bottom: 0;
    right: 0;
  }

  &.Spade, &.Club {
    color: black;
  }
  &.Heart, &.Diamond {
    color: red;
  }

  &.Ace .rank::before,
  &.Ace .rank::after {
    content: 'A';
  }
  &.Two .rank::before,
  &.Two .rank::after {
    content: '2';
  }
  &.Three .rank::before,
  &.Three .rank::after {
    content: '3';
  }
  &.Four .rank::before,
  &.Four .rank::after {
    content: '4';
  }
  &.Five .rank::before,
  &.Five .rank::after {
    content: '5';
  }
  &.Six .rank::before,
  &.Six .rank::after {
    content: '6';
  }
  &.Seven .rank::before,
  &.Seven .rank::after {
    content: '7';
  }
  &.Eight .rank::before,
  &.Eight .rank::after {
    content: '8';
  }
  &.Nine .rank::before,
  &.Nine .rank::after {
    content: '9';
  }
  &.Ten .rank::before,
  &.Ten .rank::after {
    content: '10';
  }
  &.Jack .rank::before,
  &.Jack .rank::after {
    content: 'J';
  }
  &.Queen .rank::before,
  &.Queen .rank::after {
    content: 'Q';
  }
  &.King .rank::before,
  &.King .rank::after {
    content: 'K';
  }

  &.Spade::after,
  &.Heart::after,
  &.Club::after,
  &.Diamond::after {
    width: 100%;
    height: 100%;
    font-size: 72px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.Spade::after,
  &.Heart::after,
  &.Club::after,
  &.Diamond::after {
    content: var(--open-glyph);
  }

  &.Spade .suit::before,
  &.Heart .suit::before,
  &.Club .suit::before,
  &.Diamond .suit::before,
  &.Spade .suit::after,
  &.Heart .suit::after,
  &.Club .suit::after,
  &.Diamond .suit::after {
    content: var(--closed-glyph);
  }

}
